/* Pc */
@media screen and (min-width: 992px) {
    .menu-toggle,
    .menu-drawers,
    .on-mobile {
        display: none;
    }
}

/* Tablet and Mobile */
@media screen and (max-width: 991.98px) {
    .hero .row {
        display: flex;
        flex-direction: column;
    }

    .hero .image {
        width: 100%;
        order: 0;
    }

    .hero .image .hero-img {
        width: 80%;
    }

    .hero .content {
        margin-top: 30px;
        width: 100%;
        order: 1;
    }

    .hero .wrap {
        text-align: center;
        max-width: 86%;
        margin: 0 auto;
    }

    .hero .desc {
        width: 86%;
        margin: 20px auto;
    }

    .hero .watch-video {
        margin: 38px auto 48px;
    }

    .hero .btn {
        width: 160px;
        height: 50px;
    }

    .hero .stats {
        justify-content: center;
    }

    .popular {
        margin-top: 0;
    }

    .feedback {
        margin-top: 0;
    }

    .featured {
        margin-top: 0;
    }

    .featured .row {
        flex-direction: column;
        gap: 38px;
    }

    .featured-1 {
        padding-top: 0;
    }

    .featured-1 .content {
        width: 100%;
    }

    .featured .content {
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
        order: 0;
    }

    .featured .sub-heading {
        font-size: 2.4rem;
    }

    .featured .desc {
        display: none;
    }

    .featured .image {
        flex-direction: column;
        order: 1;
    }

    .featured img {
        width: 90% !important;
        height: auto !important;
    }
}

/* Tablet  */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
    .menu-toggle,
    .menu-drawers,
    .on-mobile {
        display: none;
    }

    .navbar .action-btn {
        margin-left: 55px;
    }

    .popular .list {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 30px;
    }
}

/* Mobile */
@media screen and (max-width: 767.98px) {
    .menu-toggle {
        font-size: 2.4rem;
    }

    .navbar a {
        margin-left: auto;
        margin-right: auto;
    }

    .navbar ul {
        display: none;
    }

    .navbar .action-btn {
        display: none;
    }

    .overlay {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.4);
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: all 0.4s linear;
    }

    .menu-checkbox:checked ~ .overlay {
        opacity: 1;
        visibility: visible;
    }

    .menu-drawers {
        position: fixed;
        inset: 0 20% 0 0;
        background: #fff;
        z-index: 1;
        padding: 24px;
        transform: translateX(-100%);
        transition: all 0.4s linear;
    }

    .menu-checkbox:checked ~ .menu-drawers {
        transform: translateX(0);
    }

    .menu-drawers .close {
        position: absolute;
        top: 24px;
        right: 24px;
        font-size: 2.2rem;
    }
    .menu-drawers ul {
        margin-top: 36px;
    }

    .menu-drawers ul li {
        padding: 14px 0;
    }

    .menu-drawers .link {
        display: block;
        color: inherit;
    }

    .menu-drawers .signup {
        border-top: 1px solid #ebebeb;
        font-weight: 500;
        line-height: 3.2;
    }

    .hero .image {
        display: none;
    }

    .hero .heading {
        font-size: 3.6rem;
    }

    .hero .desc,
    .hero .stats {
        display: none;
    }

    .hero .watch-video {
        flex-direction: column;
        gap: 28px;
    }

    .hero .watch-btn {
        order: 1;
    }

    .hero .play-video {
        order: 0;
        margin-left: 0;
    }

    .popular .wrap {
        flex-direction: column;
        row-gap: 18px;
    }

    .popular .sub-heading {
        font-size: 2.4rem;
        text-align: center;
    }

    .popular .wrap .desc {
        display: none;
    }

    .popular .list {
        grid-template-columns: 1fr;
        row-gap: 30px;
    }

    .feedback-item {
        flex-direction: column;
        gap: 28px;
    }

    .feedback .info {
        text-align: center;
    }

    .dots {
        justify-content: center;
    }

    .feedback .content {
        width: 100%;
    }
}
