* {
    box-sizing: border-box;
}

:root {
    --primary-color: #171100;
    --primary-color-text-btn: #fff;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
}

/* Common */
a {
    text-decoration: none;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 118px;
    height: 50px;
    border-radius: 25px;
    background: var(--primary-color);
    color: var(--primary-color-text-btn);
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 185.714%;
}

.btn:hover {
    opacity: 0.9;
}

.container {
    width: min(1170px, 100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

/* ==== Header ==== */
.header {
    background: #fffcf4;
    padding: 36px 0 65px;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar ul {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.navbar .link {
    padding: 12px 21px;
    color: #5f5b53;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 175%;
}

.navbar .link:hover {
    text-shadow: 1px 0 0 currentColor;
    color: var(--primary-color);
    text-decoration: underline;
}

.navbar .active {
    position: relative;
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 175%;
    padding-right: 21px;
}

.navbar .active::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: " ";
    display: block;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
}

.navbar .action-btn {
    width: 144px;
    margin-left: 70px;
}