* {
    box-sizing: border-box;
}

:root {
    --primary-color: #171100;
    --primary-color-text-btn: #fff;
    --primary-background: #fffcf4;
    --primary-color-text: #5f5b53;
    --primary-background-hover: #ffb900;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
}

/* Common */
a {
    text-decoration: none;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 118px;
    height: 50px;
    border-radius: 25px;
    background: var(--primary-color);
    color: var(--primary-color-text-btn);
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
}

.btn:hover {
    opacity: 0.9;
}

.container {
    width: min(1170px, 100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button {
    background: transparent;
    border: none;
    outline: none;
    padding: 0;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.active-dot {
    background: var(--primary-background-hover) !important;
}

/* ==== Header ==== */
.header {
    background: var(--primary-background);
    padding: 36px 0 30px;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar ul {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.navbar .link {
    padding: 12px 21px;
    color: var(--primary-color-text);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 175%;
}

.navbar .link:hover {
    text-shadow: 1px 0 0 currentColor;
    color: var(--primary-color);
    text-decoration: underline;
}

.navbar .active {
    position: relative;
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 175%;
    padding-right: 21px;
}

.navbar .active::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: " ";
    display: block;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
}

.navbar .action-btn {
    width: 144px;
    margin-left: 70px;
}

/* === Hero ===  */
.hero {
    padding: 34px 0 64px;
    background: #fffcf4;
}

.hero .image {
    position: relative;
    width: 49%;
}

.hero .image .hero-img {
    width: 82%;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
    margin-right: auto;
}

/*  <!-- Summary course --> */
.summary-course {
    position: absolute;
    right: 0;
    bottom: 48px;
}

.course-list {
    width: 270px;
    padding: 24px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.course-item {
    display: flex;
    align-items: center;
    column-gap: 16px;
    margin-bottom: 14px;
}

.course-item:last-child {
    margin-bottom: 0;
}

.course-item .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background: #fff9e8;
    border-radius: 50%;
}

.course-item .icon-2 {
    background: #fcefff;
}

.course-item .icon-3 {
    background: #ebeaff;
}

.course-item .info span {
    color: var(--primary-color-text);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 185.714%;
}

.course-item .info .sub-title {
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 166.667%;
}

/*  <!-- Summary course End --> */

/* Hero Content */
.hero .content {
    width: 51%;
}

.hero .wrap {
    width: 79%;
    margin-left: 130px;
}

.hero .heading {
    width: 100%;
    color: var(--primary-color);
    font-family: "Sen", sans-serif;
    font-size: 5.6rem;
    font-weight: 600;
    line-height: 117.241%;
    letter-spacing: -1.16px;
}

.hero .desc {
    width: 100%;
    margin-top: 22px;
    color: var(--primary-color-text);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 166.667%;
}

.hero .watch-btn {
    width: 180px;
    height: 64px;
    border-radius: 32px;
    background: var(--primary-background-hover);
    font-size: 1.8rem;
}

.hero .watch-video {
    margin: 38px 0 48px;
    display: flex;
    align-items: center;
}

.hero .play-video {
    display: flex;
    align-items: center;
    gap: 14px;
    margin-left: 28px;
}

.hero .play-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 40px;
    height: 40px;
    font-size: 1.4rem;
    background: #1caba9;
    border-radius: 50%;
    cursor: pointer;
}

.hero .play-icon:hover {
    opacity: 0.8;
}

.hero .play-video span {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 166.667%;
}

.hero .stats {
    margin-top: 8px;
    display: flex;
    align-items: center;
    gap: 28px;
}

.hero .stats .desc {
    margin-left: 5px;
}

.hero .quantity {
    color: var(--primary-color);
    font-family: Sen;
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 122.727%;
}

/*==== Popular ==== */
.popular {
    margin-top: 100px;
    padding: 100px 0;
}

.popular .wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular .sub-heading {
    color: var(--primary-color);
    font-family: Sen;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 126.316%;
    letter-spacing: -0.76px;
}

.popular .wrap .desc {
    margin-top: 16px;
    width: 458px;
    color: var(--primary-color-text);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 166.667%;
}

.popular .controls {
    display: flex;
    align-items: center;
    gap: 18px;
}

.popular .prev {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-background-hover);
    font-size: 1.4rem;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 1px solid var(--primary-background-hover);
}

.popular .prev:hover {
    color: #fff;
    background-color: var(--primary-background-hover);
    border: none;
    cursor: pointer;
}

.popular .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    margin-top: 55px;
}

.popular .list li {
    border-radius: 12px;
    background: fff;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

.popular .list .body {
    padding: 16px 22px;
}

.popular .list .thumb {
    width: 100%;
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}

.popular .list .thumb:hover {
    opacity: 0.9;
}

.popular .list .title {
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 166.667%;
}

.popular .list .rating {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-left: 8px;
}

.popular .rating span {
    color: #fea31b;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 175%;
}

.popular .list .desc {
    margin-top: 6px;
    color: var(--primary-color-text);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 185.714%;
}

.popular .row-bottom {
    margin-top: 12px;
}

.popular .row-bottom .price {
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 166.667%;
}

.popular .btn-book:hover {
    background: var(--primary-background-hover);
    transition: 0.3s linear;
}

/* === Blockquotes ==== */
.feedback {
    margin-top: 100px;
    padding: 96px 0;
    background: #2e2100;
}

.feedback-list {
    display: flex;
    overflow: hidden;
}

.feedback-item {
    flex-shrink: 0;
    width: 100%;
    display: flex;
    align-items: center;
    transform: translateX(-100%);
    transition: all 0.4s linear;
}

.feedback .info .img-avt {
    width: 72px;
    height: 72px;
    border-radius: 72px;
    object-fit: cover;
}

.feedback .info .sub-title {
    margin-top: 18px;
    white-space: nowrap;
    color: #f7f7f7;
    font-family: Sen;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 141.667%;
}

.feedback .info .desc {
    white-space: nowrap;
    color: #bfbcb2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 185.714%;
}

.feedback .dots {
    display: flex;
    align-items: center;
    gap: 6px;
}

.feedback .dot {
    margin-top: 28px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #634700;
}

.feedback .content {
    width: 66%;
    margin-left: auto;
}

.feedback blockquote {
    margin-left: 30px;
    color: #fff;
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 400;
    line-height: 153.846%;
}

/* ==== Featured ==== */
.featured {
    margin-top: 100px;
    padding-top: 100px;
}

.featured .image {
    display: flex;
    gap: 30px;
}

.featured .image img {
    width: 270px;
    height: 404px;
    border-radius: 16px;
    object-fit: cover;
}

.featured .image .img-bottom {
    margin-top: 34px;
}

.featured .content {
    width: 41%;
}

.featured .sub-heading {
    color: var(--primary-color);
    font-family: Sen;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 126.316%;
    letter-spacing: -0.76px;
}

.featured .desc {
    margin-top: 16px;
    width: 98%;
    color: var(--primary-color-text);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 175%;
}

.featured .btn-signup {
    width: 137px;
    margin-top: 32px;
    border-radius: 26px;
    background: #ffb900;
}

/* Featured-1 */
.featured-1 .content {
    width: 49%;
}

.featured-1 .image .img-3 {
    width: 470px;
    height: 470px;
    object-fit: cover;
    border-radius: 20px;
}
