* {
    box-sizing: border-box;
}

:root {
    --primary-color: #171100;
    --primary-color-text-btn: #fff;
    --primary-background: #fffcf4;
    --primary-color-text: #5f5b53;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
}

/* Common */
a {
    text-decoration: none;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 118px;
    height: 50px;
    border-radius: 25px;
    background: var(--primary-color);
    color: var(--primary-color-text-btn);
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
}

.btn:hover {
    opacity: 0.9;
}

.container {
    width: min(1170px, 100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    align-items: center;
}

button {
    background: transparent;
    border: none;
    outline: none;
    padding: 0;
}

/* ==== Header ==== */
.header {
    background: var(--primary-background);
    padding: 36px 0 30px;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar ul {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.navbar .link {
    padding: 12px 21px;
    color: var(--primary-color-text);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 175%;
}

.navbar .link:hover {
    text-shadow: 1px 0 0 currentColor;
    color: var(--primary-color);
    text-decoration: underline;
}

.navbar .active {
    position: relative;
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 175%;
    padding-right: 21px;
}

.navbar .active::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: " ";
    display: block;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
}

.navbar .action-btn {
    width: 144px;
    margin-left: 70px;
}

/* === Hero ===  */
.hero {
    padding-top: 34px;
    background: #fffcf4;
}

.hero .image {
    width: 49%;
}

.hero .image .hero-img {
    width: 470px;  
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}

.hero .content {
    width: 51%;
}

.hero .info {
    width: 79%;
    margin-left: 130px;
}


.hero .heading {
    width: 100%;
    color: var(--primary-color);
    font-family: "Sen", sans-serif;
    font-size: 5.6rem;
    font-weight: 600;
    line-height: 117.241%;
    letter-spacing: -1.16px;
}

.hero .desc {
    width: 100%;
    margin-top: 22px;
    color: var(--primary-color-text);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 166.667%;
}

.hero .watch-btn {
    width: 180px;
    height: 64px;
    border-radius: 32px;
    background: #ffb900;
    font-size: 1.8rem;
}

.hero .watch-video {
    margin: 38px 0 48px;
    display: flex;
    align-items: center;
}

.hero .play-video {
    display: flex;
    align-items: center;
    gap: 14px;
    margin-left: 28px;
}

.hero .play-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    color: #ffb900;
    width: 40px;
    height: 40px;
    font-size: 1.4rem;
    background: #f2ebeb;
    border-radius: 50%;
    cursor: pointer;
}

.hero span {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 166.667%;
}

.hero .stats {
    margin-top: 8px;
    display: flex;
    align-items: center;
    gap: 28px;
}

.hero .stats .desc {
    margin-left: 5px;
}

.hero .quantity {
    color: var(--primary-color);
    font-family: Sen;
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 122.727%;
}

